
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #519db3; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 100; color: #555; line-height: 50px; }
h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; }

img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 32px; }

.colored-text { color: #519db3; }

::-moz-selection { background: #519db3; color: #fff; text-shadow: none; }
::selection { background: #519db3; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }
.section-description { margin-top: 60px; padding-bottom: 10px; }
.section-description p { margin-top: 20px; padding: 0 120px; }


/***** Divider *****/

.divider-1 span { display: inline-block; width: 200px; border-bottom: 1px solid #ddd; }


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	padding: 5px 0;
	background: #d35400;
	border: 0;
	border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.navbar-right { margin-right: 0; }

ul.navbar-nav { font-size: 16px; color: #fff; }

.navbar-inverse ul.navbar-nav li a { color: #fff; color: rgba(255, 255, 255, 0.8); }
.navbar-inverse ul.navbar-nav li a:hover { color: #519db3; }
.navbar-inverse ul.navbar-nav li a:focus { color: #519db3; outline: 0; }

.navbar-brand {
	width: 95px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}
.navbar>.container .navbar-brand { margin-left: 0; }

.navbar-search-form.disabled,
.navbar-menu-items.disabled,
.navbar-header.disabled { display: none; }

.navbar-search-form { float: left; width: 90%; margin-left: -15px; padding: 0; }
.navbar-search-form .form-group { width: 100%; }

.navbar-search-form input[type="text"] {
	width: 100%;
    margin: 0;
    background: none;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 34px;
    color: #fff;
    border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar-search-form input[type="text"]:focus {
	outline: 0; background: none; border: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.navbar-search-form input[type="text"]::-moz-placeholder { color: #fff; color: rgba(255, 255, 255, 0.8); font-style: italic; }
.navbar-search-form input[type="text"]:-ms-input-placeholder { color: #fff; color: rgba(255, 255, 255, 0.8); font-style: italic; }
.navbar-search-form input[type="text"]::-webkit-input-placeholder { color: #fff; color: rgba(255, 255, 255, 0.8); font-style: italic; }
.left {text-align:left;}
.pt50 {padding-top:50px;}

/***** Top content *****/
.main-control {display:flex !important;justify-content:center !important;}
.main-search {background:#333 !important;color:#f1f1f1 !important;border:none !important;width:600px !important;height:45px !important;}
.top-content { display:flex;padding-top:150px; }

.top-content .text { color: #333; }
.top-content .text h1 { color: #333; }

.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover, .top-content .description a:focus { color: #fff; border: 0; }


/***** Features *****/

.features-box { margin-top: 30px; text-align: left; }
.features-box .features-box-icon { font-size: 60px; color: #519db3; line-height: 60px; text-align: center; }
.features-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Footer *****/

footer { padding: 10px; background: #333;position:absolute;width:100%;bottom:0px; }

.footer-copyright { padding-top: 0px; }
.footer-copyright a { color: #888; border-bottom: 1px dotted #888; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #888; border: 0; }


/***** MEDIA QUERIES *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }
	
	.features-box .features-box-icon { font-size: 50px; line-height: 50px; }

}

@media (max-width: 767px) {

	.navbar>.container .navbar-brand { margin-left: 15px; }
	.navbar-right { margin-right: -15px; }
	.navbar-collapse { border: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
	.navbar-inverse ul.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; }
	.navbar-inverse .navbar-toggle { border-color: #444; }
	
	.top-content { padding: 20px 0 60px 0; }
	.top-content .text { padding-top: 20px; }
	
	.section-description p { padding: 0; }
	
	.features-box { text-align: center; }
	.features-box h3 { margin-top: 20px; padding-top: 10px; }
	
	.navbar-form {
		border: 0; padding-top: 5px; padding-bottom: 5px;
		-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	}
	.navbar-search-form { float: none; width: auto; margin-left: 0; margin-right: 0; }
	.navbar-search-form input[type="text"] { width: 100%; text-align: center; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 95px 34px !important;
    }
    
   .Searchbox_container{
     background: transparent;
    width: 720px;
    margin-top: 30px;
    position: absolute;
    left: 140px;
    z-index: 100;
    border-radius: 2px;
    margin-left: 220px;
 }
 
 .search-btn,.search-btn:hover,.search-btn:active,.search-btn:focus {
 background-color:#d35400 !important;
 border:none !important;
 outline:none;
 margin-left:5px;
 }
 
 .search-btn:hover {
 color:#333 !important;
 }
 
.Searchbox_top{
	color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content:center;
}
.Searchbox_square {
    width: 100px;
    height: 75px;
    text-align: center;
    padding: 16px 12px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 12px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    float: left;
    color:#333;
}
.Searchbox_square.selected {
    background: #d35400;
    position: relative;
    color:#333;
    border-radius:4px;
}
.Searchbox_general_pointer{
	cursor: pointer;
}
.Searchbox_general_initial{
	cursor: initial;
}
